{% extends "base.html.twig" %}
{% block body %}

<h1>Create Pin</h1>
{{ form_start(pinsForm) }}
    {{form_widget(pinsForm)}}

    <input type="submit" value="Create Pin">
{{ form_end(pinsForm) }}

{% endblock %}


