{% extends "base.html.twig" %}
{% block body %}
<p><a href={{path('app_pins_create')}}>Ajouter un pin</a></p>
<h1>Tous les pins</h1>

{% for pin in pins %}
<article>
    <h2><a href="{{path('app_pins_show', {'id': pin.id})}}">{{ pin.title }}</a></h2>
    <p>{{ pin.description }}</p>
</article>
{% else %}
<p>Désolé, aucun pins disponible !</p>
{% endfor %}

{% endblock %}